.task {
  display: flex;
  align-items: flex-start;
  min-width: 640px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

.grow {
  flex-grow: 1;
}

.buttons-wrapper {
  display: flex;
  padding-right: 40px;
  justify-content: flex-end;
}
