.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.8)
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 30px;
}

.status {
  display: block;
  font-size: 145px;
}


